<h1>Stupid Coaching</h1>
<div class="container d-flex flex-column">
  <p class="ml-1"><%= @question %></p>
  <p class="ml-1"><em>- You</em></p>
</div>
<div class="p-2 mt-4 mb-4 d-flex container flex-column">
  <p class="ml-1"><%= @answer %></p>
  <p class="ml-1"><em>- Your coach</em></p>
</div>

<a class="btn btn-dark" <%= link_to "Ask a new question", '/ask' %>
