<div class="d-flex">
<h2>Ask your coach a question: </h2>
  <form class="form-group mt-5" action="answer" data-turbo="false">
    <input type="text" name="answer" class="form-control">
    <input class="btn btn-primary"type="submit" value="Ask!">
  </form>
</div>
